@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
@import "tailwindcss";

@theme {
	--color-black: #222123;
	--color-dark-black: #212121;
	--color-main-bg: #232224;
	--color-white: #ffffff;
	--color-dark-brown: #523122;
	--color-mid-brown: #a26833;
	--color-light-brown: #e3a458;
	--color-red-brown: #7f3b2d;
	--color-yellow-brown: #a26833;
	--color-milk-yellow: #e3d3bc;
	--color-red: #a02128;
	--color-milk: #faeade;
	--font-sans: "Antonio", sans-serif;
	--font-paragraph: "ProximaNova, sans-serif";
}

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #222123;
	font-family: "Antonio", sans-serif;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE 10+ */
}

body::-webkit-scrollbar {
	display: none; /* Chrome, Safari */
}

@layer utilities {
	.general-title {
		@apply 2xl:text-[8.5rem] md:text-8xl text-5xl font-bold uppercase  leading-[7vw]  text-[#fce1cd] 2xl:px-[1.2vw];
	}
	.col-center {
		@apply flex flex-col justify-center items-center md:!-translate-y-10;
	}
}
@layer components {
	.hero-container {
		@apply relative w-screen h-dvh overflow-hidden;
		p {
			@apply uppercase 2xl:text-[2.5rem] md:text-2xl text-xl  text-[#fce1cd] tracking-[-.05vw] 2xl:px-[1.5vw] mb-[3vw] mt-[1vw];
		}
		.hero-content {
			@apply relative z-10 w-full h-full flex flex-col justify-end  md:pt-32 pt-24;
		}
	}
}

.message-content {
	@apply bg-[#7f3b2d] text-milk min-h-dvh overflow-hidden flex justify-center items-center relative z-20;

	.msg-wrapper {
		@apply 2xl:text-[4.5rem] md:text-8xl text-5xl font-bold uppercase leading-[9vw] tracking-[-.05vw] flex flex-col justify-center items-center;

		h1:first-of-type {
			@apply 2xl:max-w-6xl md:max-w-4xl max-w-xs text-center  text-[#faeade10];
		}

		h1:last-of-type {
			@apply 2xl:max-w-[80vw] md:max-w-6xl max-w-xs text-center  text-[#faeade10] leading-[5.2vw];
		}
	}

	p {
		@apply text-center font-paragraph;
	}

	h1,
	h2 {
		@apply leading-none;
	}
}

.song-section {
	.song-cards-container {
		@apply min-w-dvw min-h-dvh;
	}
	p {
		@apply uppercase 2xl:text-[1.2rem] md:text-2xl text-xl pt-2;
	}

	.second-title {
		@apply 2xl:text-[2rem] md:text-8xl text-5xl uppercase pt-2 font-bold;
	}
	.song-title {
		@apply 2xl:text-[6.5rem] md:text-8xl text-5xl font-bold uppercase  leading-[7vw]  text-[#fce1cd] 2xl:px-[1.5vw];
	}
	@apply md:h-[110vh] h-dvh bg-milk;

	.song-text-scroll {
		@apply rotate-[3deg] 2xl:text-[10.5rem] md:text-8xl text-5xl md:translate-y-15 border-[.4vw] border-mid-brown absolute z-10 md:translate-x-15;
	}
}

.band-section {
	@apply min-h-dvh bg-[#222123];

	.band-text-scroll {
		@apply rotate-[-3deg] 2xl:text-[10.5rem] md:text-8xl text-5xl md:translate-y-5 border-[.4vw] border-mid-brown absolute z-10;
	}

	.first-text-split h1 {
		@apply md:text-center 2xl:text-[9rem] md:text-8xl text-5xl;
	}

	.second-text-split h1 {
		@apply md:text-center 2xl:text-[9rem] xl:text-[8.5rem] md:text-8xl text-5xl;
	}

	.slider-wrapper {
		@apply lg:h-dvh min-h-dvh md:min-h-fit w-full mt-0 md:mt-20 xl:mt-0;

		.band {
			@apply h-full w-full flex md:flex-row flex-col items-center 2xl:gap-50 lg:gap-52 md:gap-24 gap-7 flex-nowrap;

			h1 {
				@apply absolute md:bottom-10 md:left-10 bottom-5 left-5 text-milk md:text-6xl text-3xl font-semibold uppercase tracking-tighter;
			}
		}
	}
}

.vd-pin-section {
	@apply md:h-[110vh] h-dvh overflow-hidden md:!-translate-y-[15%] md:mt-0 mt-20;
	video {
		@apply size-full absolute inset-0 object-cover;
	}
	.monkey {
		@apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 size-[5vw] flex justify-center items-center;
	}
}

.show-section {
	@apply bg-milk relative w-full h-[160dvh];

	h1 {
		@apply uppercase text-[20.5vw] leading-[105%] tracking-[-.4vw] ml-[2vw] font-bold text-light-brown;
	}

	.vd-card {
		@apply md:w-200 w-80 flex-none md:rounded-[2vw] rounded-3xl overflow-hidden 2xl:relative absolute border-[.5vw] border-milk;
	}
}

.footer-section {
	@apply relative w-screen h-screen overflow-hidden;
	.footer-title {
		@apply 2xl:text-[9.5rem] md:text-8xl text-5xl font-bold uppercase text-white;
	}
	.footer-padding {
		@apply p-3;
	}

	h1 {
		@apply uppercase text-[1.5vw];
	}
	.footer-textarea {
		@apply rounded-2xl  focus:outline-none text-white border-2;
	}
	.footer-text {
		@apply border-0 border-b-2 border-white focus:outline-none text-white pb-2 w-full;
	}

	.footer-button {
		@apply bg-dark-black text-white py-2  border hover:bg-[#101010] max-w-[100px];
	}
}
