@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
@import "tailwindcss";

@theme {
	--color-black: #222123;
	--color-main-bg: #232224;
	--color-white: #ffffff;
	--color-dark-brown: #523122;
	--color-mid-brown: #a26833;
	--color-light-brown: #e3a458;
	--color-red-brown: #7f3b2d;
	--color-yellow-brown: #a26833;
	--color-milk-yellow: #e3d3bc;
	--color-red: #a02128;
	--color-milk: #faeade;
	--font-sans: "Antonio", sans-serif;
	--font-paragraph: "ProximaNova, sans-serif";
}

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #faeade;
	font-family: "Antonio", sans-serif;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE 10+ */
}

body::-webkit-scrollbar {
	display: none; /* Chrome, Safari */
}

@layer utilities {
	.general-title {
		@apply 2xl:text-[8.5rem] md:text-8xl text-5xl font-bold uppercase  leading-[7vw] tracking-[-.15vw] text-[#fce1cd] 2xl:px-[1.2vw];
	}
}

@layer components {
	.hero-container {
		@apply relative bg-milk w-screen h-dvh overflow-hidden;
		p {
			@apply uppercase 2xl:text-[2.5rem] md:text-2xl text-xl  text-[#fce1cd] tracking-[-.05vw] 2xl:px-[1.2vw] mb-[3vw];
		}
		.hero-content {
			@apply relative z-10 w-full h-full flex flex-col justify-end  md:pt-32 pt-24;
		}
	}
}
