@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
@import "tailwindcss";

@theme {
	--color-black: #222123;
	--color-main-bg: #232224;
	--color-white: #ffffff;
	--color-dark-brown: #523122;
	--color-mid-brown: #a26833;
	--color-light-brown: #e3a458;
	--color-red-brown: #7f3b2d;
	--color-yellow-brown: #a26833;
	--color-milk-yellow: #e3d3bc;
	--color-red: #a02128;
	--color-milk: #faeade;
	--font-sans: "Antonio", sans-serif;
	--font-paragraph: "ProximaNova, sans-serif";
}

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #faeade;
	font-family: "Antonio", sans-serif;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE 10+ */
}

body::-webkit-scrollbar {
	display: none; /* Chrome, Safari */
}

@layer utilities {
	.general-title {
		@apply 2xl:text-[8.5rem] md:text-8xl text-5xl font-bold uppercase  leading-[7vw] tracking-[-.15vw] text-[#fce1cd] 2xl:px-[1.2vw];
	}
}

@layer components {
	.hero-container {
		@apply relative w-screen h-dvh overflow-hidden;
		p {
			@apply uppercase 2xl:text-[2.5rem] md:text-2xl text-xl  text-[#fce1cd] tracking-[-.05vw] 2xl:px-[1.2vw] mb-[3vw];
		}
		.hero-content {
			@apply relative z-10 w-full h-full flex flex-col justify-end  md:pt-32 pt-24;
		}
	}
}

.message-content {
	@apply bg-[#7f3b2d] text-milk min-h-dvh overflow-hidden flex justify-center items-center relative z-20;

	.msg-wrapper {
		@apply 2xl:text-[5.5rem] md:text-8xl text-5xl font-bold uppercase leading-[9vw] tracking-[-.05vw] flex flex-col justify-center items-center;

		h1:first-of-type {
			@apply 2xl:max-w-6xl md:max-w-4xl max-w-xs text-center  text-[#faeade10];
		}

		h1:last-of-type {
			@apply 2xl:max-w-[80vw] md:max-w-6xl max-w-xs text-center  text-[#faeade10];
		}
	}

	p {
		@apply text-center font-paragraph;
	}

	h1,
	h2 {
		@apply leading-none;
	}
}

.flavor-section {
	@apply min-h-dvh bg-[#222123];

	.flavor-text-scroll {
		@apply rotate-[-3deg] md:translate-y-5 border-[.5vw] border-milk absolute z-10;
	}

	.first-text-split h1 {
		@apply md:text-center text-dark-brown;
	}

	.second-text-split h1 {
		@apply md:text-center;
	}

	.slider-wrapper {
		@apply lg:h-dvh min-h-dvh md:min-h-fit w-full mt-0 md:mt-20 xl:mt-0;

		.flavors {
			@apply h-full w-full flex md:flex-row flex-col items-center 2xl:gap-72 lg:gap-52 md:gap-24 gap-7 flex-nowrap;

			.drinks {
				@apply absolute left-1/2 -translate-x-1/2 bottom-0 md:h-full h-80;
			}

			.elements {
				@apply absolute md:top-0 md:bottom-auto bottom-10 w-full;
			}

			h1 {
				@apply absolute md:bottom-10 md:left-10 bottom-5 left-5 text-milk md:text-6xl text-3xl font-semibold uppercase tracking-tighter;
			}
		}
	}
}
